
$body-bg: url(../../assets/montain-wp.jpg);

//crimson
$color-main: blueviolet;
$color-main-dark: darken($color: $color-main, $amount: 15);
$color-error : crimson;
$color-success: greenyellow;

$color-text: #fff;
$placeholder-text: #a3a3a3;

$color-icon: rgba(255 255 255 / .3);
$input-bg:rgba(255 255 255 / .1)